@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #f4f4f4;
}

td {
  border-width: 1px;
  border-color: black;
  padding-left: 1vw;
  padding-right: 1vw;
  padding-top: 1vh;
  padding-bottom: 1vh;
  text-align: center;
}

/* tr {
  width: max-content;
} */
